.navbar-inverse {
    background-color: #00ffff;
    border-color: #080808;
}
.navbar-inverse .navbar-nav > li > a {
    color : white;
}
.navbar-inverse .navbar-brand {
    color : white;
}
body {
    padding-top: 50px;
    padding-bottom: 20px;
}



/* course layout*/
.course {
    list-style :none;
}
.course > li {
    position : relative;
    margin-bottom : 30px;
}
.course > li .date{
    text-align: center;
    background-color : #00ff21;
    color : black ;
    width : 60px ;
    border-radius : 8px;
}
.course > li .details{
    position : absolute;
    top : 0;
    left : 70 px;
}
